/.vscode
/Jobsheet 3/UTKFace
/Jobsheet 3/paw
/Jobsheet 3/content
/Jobsheet 3/utkface-new.zip
/Jobsheet 3/petfinder-pawpularity-score.zip
/Tugas Besar/datasets
/Tugas Besar/final
/Tugas Besar/__pycache__
/Tugas 5/__pycache__

# zip files
*.zip
*.rar
*.7z
*.tar
*.tar.gz

# Large model files (>100MB) - do NOT commit
*.pt
sam2.1_hiera_tiny.pt
sam2.1_hiera_large.pt
yolo11n.pt