/.vscode
/Jobsheet 3/UTKFace
/Jobsheet 3/paw
/Jobsheet 3/content
/Jobsheet 3/utkface-new.zip
/Jobsheet 3/petfinder-pawpularity-score.zip
/Tugas Besar/datasets
/Tugas Besar/final
/Tugas 5/sam2.1_hiera_tiny.pt
/Tugas 5/sam2.1_hiera_large.pt
/Tugas Besar/yolo11n.pt

# zip files
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.txt

# Large model files (>100MB)
*.pt
